body {
    background-color: lightpink;
}

nav {
    margin: 15px;
}

.top-links {
    width: 543px;
    margin: 0 auto;
}

.btn.btn-default.top-link {
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn.btn-default.top-link:hover {
    border-radius: 4px;
    background-color: rgb(235, 139, 211);
    color: rgb(126, 61, 112);
    border: 1px solid rgb(126, 61, 112);
}

nav a:link {
    text-align: center;
    font-size: 24px;
    width: 167px;
}

h1 {
    color: black;
    background-color: white;
    font-family: verdana;
    text-align: center;
    font-size: 40px;
    border: 4px solid black;
    padding: 15px;
    margin: 15px;
}

h2 {
    font-family: Tahoma;
    text-align: center;
    font-size: 24px;
}

div {
    width: 600px;
    margin: 0 auto;
    padding: 15px;
    font-family: Tahoma;
    font-size: 18px;
}

/*
input[type=text] {
    border: 2px solid rgb(199, 85, 151);
    border-radius: 3px;
    height: 35px;
    width: 340px;
} */

/*input[type=email] {
    border: 2px solid rgb(199, 85, 151);
    border-radius: 3px;
    height: 35px;
    width: 340px;
}*/

.form-control {
    border-color: rgb(255, 128, 255);
}

.form-control:focus {
    border-color: #c553ad;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(233 102 229 / 60%);
}


.btn.btn-default {
    background-color: rgb(214, 113, 172);
    border-color: transparent;
}

.btn.btn-default:hover {
    background-color: white;
    color: rgb(214, 113, 172);
}

.text-spacing {
    margin-bottom: 15px;
}

.link {
    text-decoration: none;
}

.link a:hover {
    text-decoration: none;
    background-color: hotpink;
}

#cell-number {
    margin-top: 15px;
}

.radio-buttons {
    padding: 0;
    margin-bottom: 15px;
}

textarea {
    margin-bottom: 15px;
    border: 2px solid rgb(199, 85, 151);
    border-radius: 3px;
}